html
  head
    title!= title
  body
    h1!= "궁금하신것들, 원하시는 데모 아이디어 등 마음껏 올려주세요!"
    form(name="update", action="/", method="post")
      |Email: 
      br
      input(type="text", name="email")
      br
      br
      |Feedback: 
      br
      textarea(name="feedback", cols=80, rows=5)
      br
      br
      input(type="submit", value="update")